*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    height: 550px;
    width: 400px;
    background-color: white;
    padding: 25px;
    overflow-y: auto;

}
.container::-webkit-scrollbar{
    display: none;
}
.container form{
    width: 70%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin: auto;
}
.container form input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 10px;
}
.container form i{
padding-left: 10px;
font-size: 30px;
}
.product_list{
    padding: 15px 0;
}
.product{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 10px 0;

}
.product img {
    width: 60px;
    height: 50px;
    padding-right: 15px;
   
}
.product_list .product h3{
    font-weight: 500;
}
.product_list .product h2{
    font-weight: 600;
    font-size:medium;
}
